<section style="min-height: 80vh; background: #ffffff; ">
    <div id="top" class=" dat-cover-second " style="display: flex; min-height: 450px; justify-content: center;">
        <div style="width: 80%; display: flex; align-items: center;">
            <div style="max-width: 80%;">
                <h1 style="color:#ffffff; padding: 0px 30px 0px 30px; margin-bottom:0px; font-weight: bold;">
                    Dat-Analytics
                </h1>
                <br />
                <h1 style="color:#ffffff; padding: 0px 30px 0px 30px; font-weight: bold;">
                    Política de privacidad
                </h1>
            </div>
        </div>
    </div>

    <div style=" max-width: 80%; margin-left: auto; margin-right: auto; margin-top: 100px; padding-bottom:50px ;">
        <!-- <div class="row" style="margin-right: 0px; margin-left:0px; ">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                    facere at dolorum impedit nulla itaque debitis cum dolores aliquam
                    soluta eius est nam, nisi neque hic
                    <span [routerLink]="['/terms']" style="color: #1e87f0;">Términos y condiciones
                    </span>
                    fuga reprehenderit.
                </p>
                <hr />
            </div>
        </div> -->

        <div class="row" style="margin-right: 0px; margin-left:0px; margin-top: 100px; ">
            <div class="col-sm-3">
                <ul style=" position: -webkit-sticky !important; position: sticky !important; top: 30px !important;"
                    class="dat-list-policies">
                    <li>
                        <a href="#section1" uk-scroll>
                            1. Consentimiento y recopilación y uso de información</a>
                    </li>
                    <li><a href="#section2" uk-scroll> 2. Edad de consentimiento</a></li>
                    <li>
                        <a href="#section3" uk-scroll> 3. Derechos a su información</a>
                    </li>
                    <li><a href="#section4" uk-scroll> 4. Datos agregados</a></li>
                    <li><a href="#section5" uk-scroll> 5. Seguridad</a></li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div id="section1" class="dat-section-policies">
                    <h2>1. Consentimiento y recopilación y uso de información</h2>
                    <p>
                        DAT-TRAINING, solicitará al usuario de la plataforma, única y exclusivamente información de
                        carácter personal o contactos, esto a través del proceso de registro de usuarios. En ningún
                        momento se solicitará otra información al usuario que no sean los siguientes atributos: Nombres,
                        apellidos, Dirección, Teléfono, Empresa donde labora, correo, país de residencia y fecha de
                        nacimiento.
                    </p>
                </div>

                <div id="section2" class="dat-section-policies">
                    <h2>2. Edad de consentimiento</h2>
                    <p>
                        DAT-TRAINING, solamente aceptará el registro del usuarios con características de Edad superior a
                        los 16 años, identificados según el atributo fecha de nacimiento.
                    </p>
                </div>

                <div id="section3" class="dat-section-policies">
                    <h2>3. Derechos a su información</h2>
                    <p>
                        El usuario registrado en la plataforma tendrá en todo momento acceso a la información personal
                        registrada en la plataforma, así mismo cualquier otra información que pueda dar seguimiento al
                        uso de los servicios de DAT-TRAINING.
                    </p>
                </div>

                <div id="section4" class="dat-section-policies">
                    <h2>4. Datos agregados</h2>
                    <p>
                        Toda información que sea generada por la plataforma DAT-TRAINING, referente al uso y consumo de
                        los servicios por parte del usuario, será debidamente guardada en las bases de datos del sistema
                        de manera segura.
                    </p>
                </div>
                <div id="section5" class="dat-section-policies">
                    <h2>5. Seguridad</h2>
                    <p>
                        DAT-TRAINING, asegurará que todos los datos confidenciales del cliente sean protegidos con los
                        mas altos estándares de seguridad, los mismos no podrán ser accedidos ni divulgados a terceras
                        personas sin previo consentimiento por parte del usuario.
                    </p>
                </div>

                <a href="#top" uk-scroll style="color: #1e87f0;">
                    Inicio <span uk-icon="icon: arrow-up; ratio: 0.8"></span></a>
            </div>
        </div>
    </div>
</section>