<div class="card">
  <div class="card-header">
    <h5 class="title">Cambiar contraseña</h5>
  </div>
        <div class="card-body">
          
          <div *ngIf="waitingResponse" style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
            <i  style="margin-right: 15px; color: #1d89f5; "  uk-spinner="ratio: 0.5"></i>
        </div>
          <form [formGroup]="changePwdForm" id="editChangePwdForm" class="mb-4" autocomplete="off" (ngSubmit)="save()" style="margin-bottom: 50px;"> 
          
                <dl class="uk-description-list  uk-text-left"  style=" margin-left: auto; margin-right: auto; margin-top: 30px; max-width: 500px;">          
                    <label>Contraseña actual</label>
                    <input class="uk-input uk-text-center" formControlName="password" type="password" placeholder="">
                    <label class="text-danger validate-text" *ngIf="changePwdForm.get('password').touched && changePwdForm.get('password').errors?.minlength">8 carateres longitud minima requerida</label>  <br>        
          
                      <label class="labelDat">Nueva contraseña</label>
                      <input class="uk-input uk-text-center" formControlName="newPassword" type="password" placeholder=""> 
                      <label class="text-danger validate-text" *ngIf="changePwdForm.get('newPassword').touched && changePwdForm.get('newPassword').errors?.minlength">8 carateres longitud minima requerida</label> <br> 
          
                      <label class="labelDat">Confirmar Contraseña</label>
                      <input class="uk-input uk-text-center" formControlName="confirmPassword" type="password" placeholder=""> 
                      <label class="text-danger validate-text" *ngIf="changePwdForm.get('confirmPassword').touched && changePwdForm.get('confirmPassword').errors?.passwordMismatch">No coincide la contraseña</label>  <br>  
                  </dl>  
            </form>
            

             <!--erros-->
      <div class="row dat-container-tools">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert" *ngIf="errors.length> 0">            
                    <ul>
                        <li *ngFor="let error of errors">
                        {{error}}
                        </li>
                    </ul>
                </div>
            </div>                   
        </div> 

        </div>

        
        
        <div class="card-footer">
          <div class="button-container">
              <a class="uk-button uk-button-primary dat-button-tertiary " style="margin-right:10px" (click)="backClicked()" >Cancelar</a>
            <button type="submit" class="btn btn-primary btn-round uk-button" [disabled]="changePwdForm.invalid || waitingResponse" form="editChangePwdForm" >Actualizar</button>
          </div>
        </div>
      </div>
