<section style=" min-height: 80vh;">
    <div class="back-lang dat-section-landing" style="min-height: 100%;">
        <div class="row ">
            <div class="col-md-6">
                <h2 style="font-weight: bold; color: #ffffff; ">
                    Desarrolla tus habilidades en Analítica de datos con el mejor
                    aprendizaje
                </h2>
                <p style="color: #ffffff;">
                    Enfocamos el desarrollo de nuestros cursos con experiencia real en
                    analítica de datos, nos aseguramos que el estudiante aprenda el
                    contenido efectivo para convertirse en un analista profesional de
                    datos.
                </p>
                <!-- <button [routerLink]="['/courses']" type="button" class="uk-button uk-button-primary "
                    style="margin-top: 50px; padding: 10px; font-size: 14px;">
                    <i class="fas fa-graduation-cap uk-margin-small-right"></i> Explorar
                    todos los cursos
                </button> -->
            </div>
        </div>
    </div>

    <!--Porque Dat-Training-->
    <div class="dat-section-landing"
        style="background: #071757; background: linear-gradient(-135deg, rgb(26, 117, 207), #071757);">
        <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <h2 style="font-weight: bold; color: #ffffff; text-align: center;">
                ¿Por qué Dat-Training?
            </h2>
            <p style="color: #ffffff; text-align: center;">
                "Nuestra misión no es enseñarte a usar una herramienta, queremos que
                desarrolles tus habilidades de analítica de datos, utilizando las
                herramientas necesarias"
            </p>
        </div>

        <div class="row ">
            <div class="col-md-3" style="display: flex; align-items: center; flex-direction: column;  ">
                <div class="dat-icon-main">
                    <img src="https://res.cloudinary.com/djokqylda/image/upload/v1610754041/Dat-Training/Imagenes%20Demo/pc-courses-blue_q2gryu.png"
                        width="110px" alt="" />
                </div>
                <div class="dat-content-icon-main">
                    <h5 class="dat-content-icon-tittle">
                        Cursos 100% orientados a la Analítica de Datos
                    </h5>

                    <p class="dat-content-icon-description">
                        Contenido orientado a casos reales que promueven el desarrollo de
                        habilidades para convertirte en un analista profesional de datos que
                        brinde soluciones estratégicas de negocio a través de los datos y la
                        tecnología
                    </p>
                </div>
            </div>

            <div class="col-md-3" style="display: flex; align-items: center; flex-direction: column; ">
                <div class="dat-icon-main">
                    <img src="https://res.cloudinary.com/djokqylda/image/upload/v1610754041/Dat-Training/Imagenes%20Demo/best-videos-blue_vudvyi.png"
                        width="110px" alt="" />
                </div>

                <div class="dat-content-icon-main">
                    <h5 class="dat-content-icon-tittle">
                        Plataforma diseñada pensando en el Estudiante
                    </h5>

                    <p class="dat-content-icon-description">
                        Plataforma de aprendizaje en línea que integra una arquitectura de
                        información, elementos visuales y patrones de interacción para
                        generar una gran experiencia al usuario
                    </p>
                </div>
            </div>

            <div class="col-md-3" style="display: flex; align-items: center; flex-direction: column;">
                <div class="dat-icon-main">
                    <img src="https://res.cloudinary.com/djokqylda/image/upload/v1610754042/Dat-Training/Imagenes%20Demo/analytics-icon_kvx9lf.png"
                        width="110px" alt="" />
                </div>

                <div class="dat-content-icon-main">
                    <h5 class="dat-content-icon-tittle">
                        Seguimiento y evaluación a tu aprendizaje
                    </h5>

                    <p class="dat-content-icon-description">
                        Alcanza tus metas de aprendizaje con evaluaciones en línea de lo
                        aprendido, casos prácticos enfocados a necesidades empresariales
                        reales, una comunidad de ayuda y consultas directas a los
                        instructores
                    </p>
                </div>
            </div>

            <div class="col-md-3" style="display: flex;  align-items: center; flex-direction: column;">
                <div class="dat-icon-main">
                    <img src="https://res.cloudinary.com/djokqylda/image/upload/v1610754042/Dat-Training/Imagenes%20Demo/certificage-blue_l3ztww.png"
                        width="110px" alt="" />
                </div>

                <div class="dat-content-icon-main">
                    <h5 class="dat-content-icon-tittle">Certificado Digital</h5>

                    <p class="dat-content-icon-description">
                        Todos los cursos cuentan con un Certificado Digital de aprobado o
                        participación de acceso perpetuo. Puedes compartir tus certificados
                        a través de tus redes favoritas o bien descargar tu archivo en PDF.
                        Asi mismo puedes solicitar tu certificado en físico.
                    </p>
                </div>
            </div>
        </div>
    </div>





    <!--LA MEJOR EXPERIENCIA-->
    <div class=" dat-section-landing">
        <div class="row">
            <div class="col-md-7">
                <div
                    style="border-bottom: solid 2px #1e87f0; height: 5px; margin-bottom: 30px; padding: 10px; width: 120px;">
                </div>
                <h2 style="font-weight: bold; color: #071757;">
                    La mejor experiencia de aprendizaje
                </h2>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="dat-ul-main">
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Cursos 100% en línea, tu controlas tu tiempo para aprender.
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Contenido grabado en alta definición, profesional y
                                estandarizado.
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Aprender haciendo: Herramientas de Minería de datos integradas
                                en línea.
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Comunidad de aprendizaje y chat en Línea con instructores o
                                estudiantes.
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Interactua en línea con Visualizaciones Analíticas reales:
                                Integrado en Línea (Tableau, PowerBI).
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Bookmarks de seguimiento, retoma tus sesiones donde las
                                dejastes.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="dat-ul-main">
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Seguimiento y notificaciones por correo/whatsapp.
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Disponibilidad de los cursos 24/7. Despliegue en la nube.
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Plataforma segura y confiable, respaldada por Dat-Analytics
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Paneles de control de avances de cursos adquiridos.
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Conectate desde tu PC o tu dispositivo móvil.
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Facilidades de Pago: Paypal, tarjetas o transferencias.
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Cursos accesibles y con descuentos
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-5" style="margin-top:50px;">
                <div style="display: flex; height: 100%; align-items: center;">
                    <div>
                        <img src="https://res.cloudinary.com/djokqylda/image/upload/v1618438861/Dat-Training/Imagenes%20Demo/landing-class-live_taa0sv.png"
                            style="margin-left: 40%;" alt="" width="60%" />
                        <br />
                        <img src="https://res.cloudinary.com/djokqylda/image/upload/v1624047741/Dat-Training/Imagenes%20Demo/kaleidico-3V8xo5Gbusk-unsplash_ia9kgk_efvwuz.jpg"
                            width="60%" alt="" style=" margin-top: 30px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LIVE DAT-CLASS-->
    <div class="  dat-section-landing"
        style="background: #071757; background: linear-gradient(-135deg, rgb(26, 117, 207), #071757);">
        <div class="row">
            <div class="col-md-6" style="margin-top: 20px;">
                <div style="">
                    <!-- <h2 style="font-weight: bold; color: red; margin-bottom: 0px; ma">  <i  class="fas fa-podcast uk-margin-small-right"></i></h2> -->
                    <h2 style="font-weight: bold; color: #ffffff;">
                        <i class="fas fa-podcast uk-margin-small-right" style="color: red;"></i>
                        Live Dat-Class
                    </h2>
                </div>
                <div>
                    <p style="color:#ffffff">
                        Participa de LIVE DAT-CLASS programados sobre temas relevantes en
                        analítica de datos.
                    </p>
                    <!-- <button [routerLink]="['/about-dat-class']" type="button" class="uk-button uk-button-primary "
                        style="margin-top: 50px; margin-bottom: 50px; padding: 10px; font-size: 14px;">
                        Más sobre Dat-Class
                        <i style="margin-left: 10px;" class="fas fa-chevron-right"></i>
                    </button> -->
                </div>
            </div>

            <div class="col-md-6">
                <!-- <div style="display: flex; height: 100%; align-items: center;">
                            <video
                                src="https://res.cloudinary.com/djokqylda/video/upload/v1597245538/Dat-Analytics/Web.Dat-Analytics/Videos/VID-20200808-WA0000_online-video-cutter.com_ru0dah.mp4"
                                controls controlsList="nodownload" playsinline muted playsinline
                                uk-video="autoplay: false ; automute:true"></video>
                        </div> -->
                <img src="https://res.cloudinary.com/djokqylda/image/upload/v1625089969/Dat-Training/Imagenes%20Demo/live_dat_class_skeleton_mkcdzg.png"
                    alt="" />
            </div>
        </div>
    </div>
    <!--NUESTROS PILARES DE ENSENANZA-->
    <div class="dat-section-landing" style="background: #ffffff;">
        <div class="row">
            <div class="col-md-6">
                <div style="display: flex; height: 100%; align-items: center;">
                    <video *ngIf="!loading" [src]="urlResourceSafe" controls controlsList="nodownload" playsinline muted
                        playsinline uk-video="autoplay: false ; automute:true"></video>
                </div>
                <!-- <img src="https://res.cloudinary.com/djokqylda/image/upload/v1610836631/Dat-Training/Imagenes%20Demo/christina-wocintechchat-com-NDoVgcS_lZM-unsplash_1_e6jk8a.jpg"
                            alt=""> -->
            </div>

            <div class="col-md-6" style="margin-top: 20px;">
                <div style="">
                    <h2 style="font-weight: bold; color: #071757;">
                        Nuestros pilares de enseñanza
                    </h2>
                    <div>
                        <ul class="dat-ul-main">
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>Analítica de Negocios y
                                tecnología
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Exploración y Minería de Datos
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>Repositorios Analíticos
                                de
                                datos
                            </li>
                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>
                                Estrategias de Inteligencia de Negocio
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>Análisis y
                                Visualizacion de
                                datos
                            </li>

                            <li style="display: flex;">
                                <i class="fas fa-asterisk uk-margin-small-right "
                                    style="font-size: 10px; color:#1e87f0; margin-top: 5px;"></i>Analítica Avanzada de
                                datos
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 100px 70px 120px 70px; background: linear-gradient(-135deg, rgb(26, 117, 207), #071757); 
        background-image: url('https://res.cloudinary.com/djokqylda/image/upload/v1617721574/Dat-Training/Imagenes%20Demo/join_uv6gr0.jpg'); background-repeat: no-repeat;
        background-size: cover; ">
        <div style="border-bottom: solid 2px #1e87f0; height: 5px; margin-bottom: 30px; padding: 10px; width: 120px;">
        </div>

        <h2 style="font-weight: bold; color: #ffffff; text-align: center;">
            ¡No esperes más! Construye tu futuro hoy
        </h2>

        <p style="color: #ffffff; text-align: center; margin-top: 0px;">
            Dat-Training es un producto de Dat-Analytics SA, marca registrada.
        </p>

        <!-- <button [routerLink]="['/courses']" type="button" class="uk-button uk-button-primary "
            style="margin-top: 50px; padding: 10px; font-size: 14px;">
            Comienza a estudiar en Dat-Training
        </button> -->
    </div>

    <!-- Review -->
    <!-- <div>
        <app-admin-review></app-admin-review>
    </div> -->
</section>