<section style="min-height: 80vh; background: #ffffff; ">

    <div id="top" class="dat-cover-second " style="display: flex; min-height: 450px; justify-content: center; ">
        <div style="width: 80%; display: flex; align-items: center;">
            <div style="max-width: 80%;">
                <h1 style="color:#ffffff; padding: 0px 30px 0px 30px; margin-bottom:0px; font-weight: bold;">
                    Dat-Analytics
                </h1>
                <br>
                <h1 style="color:#ffffff; padding: 0px 30px 0px 30px; font-weight: bold;"> Términos y condiciones
                </h1>
            </div>
        </div>


    </div>


    <div style=" max-width: 80%; margin-left: auto; margin-right: auto; margin-top: 100px; padding-bottom:50px ;">
        <!-- <div class="row" style="margin-right: 0px; margin-left:0px; ">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere at dolorum impedit nulla
                    itaque debitis
                    cum dolores aliquam soluta eius est nam, nisi neque hic <a [routerLink]="['/privacy']"
                        style="color: #1e87f0;">Política de privacidad </a> fuga reprehenderit.
                </p>
                <hr>
            </div>
        </div> -->

        <div class="row" style="margin-right: 0px; margin-left:0px; margin-top: 100px; ">

            <div class="col-sm-3">

                <ul style=" position: -webkit-sticky; position: sticky; top: 30px;" class="dat-list-policies">
                    <li> <a href="#section1" uk-scroll> 1. Quién puede hacer uso de los servicios</a> </li>
                    <li> <a href="#section2" uk-scroll> 2. Contenido de los Servicios</a> </li>
                    <li> <a href="#section3" uk-scroll> 3. Uso de los Servicios</a> </li>
                    <li> <a href="#section4" uk-scroll> 4. Su cuenta</a></li>
                    <li> <a href="#section5" uk-scroll> 5. General</a></li>
                </ul>
            </div>

            <div class="col-sm-9">

                <div id="section1" class="dat-section-policies">
                    <h2>1. Quién puede hacer uso de los Servicios </h2>
                    <p>Los servicios de DAT-TRAINING, producto de DAT-ANALYTICS SA, están disponibles para el publico en
                        general, y serán accedidos sin restricción alguna, siempre y cuando el usuario haya realizado
                        las compras correspondientes de los cursos publicados en el portal. El servicio estará
                        disponible en línea a través del sitio web de DAT-ANALYTICS y DAT-TRAINING,
                        training.dat-analytics.com. Nuestros servicios están publicados única y exclusivamente en modo
                        seguro HTTPS.</p>
                </div>

                <div id="section2" class="dat-section-policies">
                    <h2>2. Contenido de los Servicios</h2>
                    <p>Los servicios de DAT-TRAINING, están debidamente limitados a contenido digital, el cual será
                        accedido única y exclusivamente a través de la plataforma con la debida inscripción por parte
                        del usuario. Los formatos de acceso al contenido de los servicios, variaran entre contenido en
                        formato videos, archivos PDF, imágenes, enlaces a sitios entre otros. El contenido de los
                        servicios prestados por DAT-TRAINING, estará organizado en cursos especializados en temas de
                        Analítica de Datos, estos cursos a su vez dispondrá de módulos y temas debidamente ordenados.
                    </p>
                </div>

                <div id="section3" class="dat-section-policies">
                    <h2>3. Uso de los Servicios </h2>
                    <p>El uso de los servicios de DAT-TRAINING, será exclusivamente para usuarios debidamente
                        registrados y que hayan comprado los cursos disponibles. El usuario es responsable de asegurar
                        sus credenciales de acceso a la plataforma. DAT-ANALYTICS notificará al usuario en caso de
                        identificar accesos inusuales a la plataforma o intentos de acceder desde otras plataformas. Se
                        prohíbe el uso no autorizado del contenido de los servicios para fines de comercialización o
                        utilización en ventas de cursos personales.</p>
                </div>

                <div id="section4" class="dat-section-policies">
                    <h2>4. Su cuenta </h2>
                    <p>La información de la cuenta de su usuario así como sus correspondientes atributos, nombres,
                        direcciones, teléfonos, correos, contraseñas, foto, recibos de pago entre otros atributos, es
                        completamente confidencial, DAT-TRAINING no divulgara, compartirá, venderá o realizará uso
                        indebido de esta información, asegurando siempre la confidencialidad e integridad de los datos
                        personales que son solicitados al usuario en el proceso de registro. </p>
                </div>
                <div id="section5" class="dat-section-policies">
                    <h2>5. General </h2>
                    <p>Este sitio es para uso del público en general. El uso del sitio web y de la plataforma
                        DAT-TRAINING (denominados colectivamente como el "Sitio") se rigen por los siguientes Descargos
                        de responsabilidad y políticas (los "Descargos de responsabilidad y políticas") y la Política de
                        privacidad (la "Política de privacidad"), que debe leer antes de usar el Sitio. Todas las
                        páginas dentro del Sitio son propiedad DAT-ANALYTICS SA.</p>
                    <br>
                    <p> Objetivo. El propósito del Sitio es poner a disposición del publico una plataforma de
                        aprendizaje de analítica de datos a través de cursos especializados disponibles en línea en
                        formato digital.</p>
                    <br>
                    <p>Toda información de identificación personal proporcionada por las participantes se mantiene en
                        una base de datos segura y nunca se compartirá sin el consentimiento expreso de la participante,
                        a menos que la ley exija lo contrario. Sin embargo, las participantes aprobados podrán ver la
                        información no identificada que está disponible en la base de datos del Sitio.</p>
                    <br>
                    <p>Aceptación de Descargos de responsabilidad y políticas. Al utilizar el Sitio, acepta y acuerda
                        que ha leído todos los Descargos de responsabilidad y políticas, y la Política de privacidad,
                        que los entiende y acepta, y que tiene la capacidad legal para estar sujeto a ellos. Estos
                        Descargos de responsabilidad y políticas constituyen un acuerdo legal entre usted DAT-ANALYTICS
                        SA.</p>
                    <br>
                    <p>DAT-ANALYTICS se reserva el derecho de modificar los Descargos de responsabilidad y políticas en
                        cualquier momento y sin previo aviso mediante la publicación de términos modificados en el
                        Sitio. Le recomendamos que revise estos Descargos de responsabilidad y políticas periódicamente
                        para ver si hay actualizaciones o cambios. Usted comprende y acuerda que su acceso o uso
                        continuado del Sitio después de la fecha de vigencia de cualquier modificación a los Descargos
                        de responsabilidad y políticas, o a la Política de privacidad indica que acepta las
                        modificaciones.</p>
                </div>

                <a href="#top" uk-scroll style="color: #1e87f0;"> Inicio <span
                        uk-icon="icon: arrow-up; ratio: 0.8"></span></a>
            </div>
        </div>
    </div>


</section>